{% block sw_cms_element_webface_big_image_with_text_preview %}
    <div class="sw-cms-el-preview-webface-big-image-with-text">
        <p>test</p>
        <img class="sw-cms-el-preview-dailymotion-img"
             :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">

    </div>
{% endblock %}