<div class="sw-cms-preview-custom-hero-image-with-text">
    <div class="sw-cms-preview-custom-hero-image-with-text__left">
        Preview text
    </div>
    <div class="sw-cms-preview-custom-hero-image-with-text__right">
        <img src="path_to_your_image_preview.jpg" alt="Preview Image">
    </div>
</div>
