{% block sw_cms_block_five_text_image_bubble %}
    <slot name="block-title"></slot>
        <div class="sw-cms-block-five-text-image-bubble">
            <div class="sw-cms-block-five-text-image-bubble__1">
                <slot name="image-1"></slot>
                <slot name="text-1"></slot>
            </div>
            <div class="sw-cms-block-five-text-image-bubble__2">
                <slot name="image-2"></slot>
                <slot name="text-2"></slot>
            </div>
            <div class="sw-cms-block-five-text-image-bubble__3">
                <slot name="image-3"></slot>
                <slot name="text-3"></slot>
            </div>

            <div class="sw-cms-block-five-text-image-bubble__4">
                <slot name="image-4"></slot>
                <slot name="text-4"></slot>
            </div>

            <div class="sw-cms-block-five-text-image-bubble__5">
                <slot name="image-5"></slot>
                <slot name="text-5"></slot>
            </div>
        </div>
{% endblock %}