    {% block sw_cms_block_five_text_image_bubble_preview %}
        <h6 class="sw-cms-preview-five-text-image-bubble__block-title">Lorem Ipsum dolor</h6>
        <div class="sw-cms-preview-five-text-image-bubble">
            <div class="sw-cms-preview-five-text-image-bubble__1">
                <div class="sw-cms-preview-five-text-image-bubble__image">
                    <img
                            :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
                            alt=""
                    >
                </div>
                <div class="sw-cms-preview-five-text-image-bubble__text">
                    <h2>Lorem</h2>
                </div>
            </div>


            <div class="sw-cms-preview-five-text-image-bubble__2">
                <div class="sw-cms-preview-five-text-image-bubble__image">
                    <img
                            :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
                            alt=""
                    >
                </div>
                <div class="sw-cms-preview-five-text-image-bubble__text">
                    <h2>Lorem</h2>
                </div>
            </div>
            <div class="sw-cms-preview-five-text-image-bubble__3">
                <div class="sw-cms-preview-five-text-image-bubble__image">
                    <img
                            :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
                            alt=""
                    >
                </div>
                <div class="sw-cms-preview-five-text-image-bubble__text">
                    <h2>Lorem</h2>
                </div>
            </div>

            <div class="sw-cms-preview-five-text-image-bubble__4">
                <div class="sw-cms-preview-five-text-image-bubble__image">
                    <img
                            :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
                            alt=""
                    >
                </div>
                <div class="sw-cms-preview-five-text-image-bubble__text">
                    <h2>Ipsum</h2>
                </div>
            </div>

            <div class="sw-cms-preview-five-text-image-bubble__5">
                <div class="sw-cms-preview-five-text-image-bubble__image">
                    <img
                            :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
                            alt=""
                    >
                </div>
                <div class="sw-cms-preview-five-text-image-bubble__text">
                    <h2>Dolor</h2>
                </div>
            </div>
        </div>
{% endblock %}

