<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_custom_text_teaser %}
<div class="sw-cms-block-text-teaser">
    <slot name="content"></slot>
    <slot name="image"></slot>
</div>
{% endblock %}
