    {% block sw_cms_block_my_image_text_reversed_preview %}
    <div class="sw-cms-preview-my-image-text-reversed">
        <div class="sw-cms-preview-my-image-text-reversed_text">
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <img class="sw-cms-preview-my-image-text-reversed_image"
             :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')">
    </div>
{% endblock %}